[SddmGreeterTheme]
Name=0xIde
Description=The Caelestia lockscreen as a login screen
Author=0xIde
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/caelestia-dots
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
